<!DOCTYPE html>

<html lang="es">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if titulo %}
            <title>{{ titulo }} - Mision TIC</title>
        {% else %}
            <title>Mision TIC</title>
        {% endif %}
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"> </script> 
               
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" >
    
     
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="/index">SGN</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/index">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/ingresar">Ingresar</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </header>

        <main>
            
            <!-- Marketing messaging and featurettes
            ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->
            <br />  
            <div class="container-fluid">
                <div class="row">
                  <div class="col">{% block infouser %}{% endblock %}</div>
                  <div class="col-6">
                    <div class="alert alert-success" role="alert">
                      <strong>Usuario {{session['nombre_rol']}}</strong>
                      <p class="mb-0">Bienvenido, <strong>{{session['nombre_logueado']}} {{session['apellido_logueado']}}</strong></p>
                    </div>  
                  </div>
                  <div class="col">
                    <div class="text-center">
                      <img src="{{ url_for('static', filename='img/logo-ecijg.png') }}" alt="Logo ECIJG" class="img-fluid rounded" />
                    </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <!--inicio de acordeon-->
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                     
                      <!-- home inicio-->
                        <div class="accordion-item">
                            <h2 class="accordion" id="flush-headingSeven">
                                  <a href="/home">  <button class="accordion-button collapsed" type="button"> Inicio </button></a>
                            </h2>
                        </div>                  
                        <!-- perfil o usuario-->
                    {%if session['rol_logueado']== 1 %}
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingUsuario">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-headingUsuario" aria-expanded="false" aria-controls="flush-headingUsuario">
                            Usuarios
                          </button>
                        </h2>
                            <!--collapser-->
                            <div id="flush-headingUsuario" class="accordion-collapse collapse" aria-labelledby="flush-headingUsuario" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                <div class="d-grid gap-2">
                                      <a class="btn btn-primary" href="/registrodeusurioEstudiante" role="button">Ver o crear usuarios</a> 
                                      <a class="btn btn-primary" href="/#" role="button">Modificar usuarios</a>
                                      <a class="btn btn-primary" href="/#" role="button">Eliminar usuarios</a>  
                                </div>
                              </div>
                           </div>
                      </div>
                      {%else%}                   
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne"> 
                                  <a href="{{url_for(session['perfil'])}}">  <button class="accordion-button collapsed" type="button">Perfil</button></a>
                          </h2>
                      </div>
                      {%endif%}
                      <!-- fin perfil o usuarios-->
                      <!--cursos -->
                      {% if session['rol_logueado'] == 1 %} 
                      <div class="accordion-item">
                       
                          <h2 class="accordion-header" id="flush-headingTwo">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                              <a href="/#">Cursos</a> <!--link a panel de administracion de cursos user admin-->
                              </button>
                              
                          </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                      <div class="d-grid gap-2">
                                            <a class="btn btn-primary" href="/#" role="button">Consultar</a>
                                            <a class="btn btn-primary" href="/#" role="button">Crear</a>
                                            <a class="btn btn-primary" href="/#" role="button">Modificar</a>
                                            <a class="btn btn-primary" href="/#" role="button">Eliminar</a>
                                      </div>
                                    </div>
                                </div>
                      </div>
                      {%else%}
                      <div class="accordion-item">
                          <h2 class="accordion" id="flush-headingSeven">
                              <a href="/{{session['buscacursos']}}">  <button class="accordion-button collapsed" type="button"> Cursos </button></a>
                          </h2>
                      </div>  
                      {%endif%}
                      <!-- fin de cursos -->

                      <!-- menu mensajes--> 
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            Mensajes de actividades
                          </button>
                        </h2>
                            <!--collapser-->
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                <div class="d-grid gap-2">
                                      <a class="btn btn-primary" href="{{url_for(session['mensajes'])}}" role="button">Mensajes</a> 
                                     <!--  {% if session['rol_logueado'] == 2 %}
                                      <a class="btn btn-primary" href="#" role="button">Responder mensajes</a>
                                      <a class="btn btn-primary" href="{{session['listarcomentariosEliminar']}}" role="button"> LCEResponder mensajes</a>
                                      {%endif%}  por si se necesita otro boton-->   
                                      {% if session['rol_logueado'] == 1 %}
                                      <a class="btn btn-primary" href="{{url_for(session['mensajes'])}}" role="button">Administrar y monitorear Mensajes</a> <!--aun cuando se acabe el tiempo de subir notas o el curso este cerrado-->
                                      {%endif%}
                                </div>
                              </div>
                           </div>
                      </div>
                       <!-- menu actividades--> 
                       <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingActividad">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseActividad" aria-expanded="false" aria-controls="flush-collapseActividad">
                            Actividades
                          </button>
                        </h2>
                            <!--collapser-->
                            <div id="flush-collapseActividad" class="accordion-collapse collapse" aria-labelledby="flush-headingActividad" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                <div class="d-grid gap-2">
                                      {% if session['rol_logueado'] == 3 %}
                                      <a class="btn btn-primary" href="{{url_for(session['veractividad'])}}" role="button">Actividades</a> 
                                      {%else%}
                                      <a class="btn btn-primary" href="{{url_for(session['veractividad'])}}" role="button">Ver o modificar actividades</a>
                                      <a class="btn btn-primary" href="{{session['creacionactividad']}}" role="button">Crear nueva actividad</a>
                                        {% if session['rol_logueado'] == 1 %}
                                        <a class="btn btn-primary" href="#" role="button">Administrar y monitorear Mensajes</a> <!--aun cuando se acabe el tiempo de subir notas o el curso este cerrado-->
                                        {%endif%}
                                      {%endif%}
                                      
                                </div>
                              </div>
                           </div>
                      </div>
                      <!--calificaciones -->
                      <!--Menu calificaciones docente y admin -->
                      {% if session['rol_logueado'] == 2 or session['rol_logueado'] == 1 %}
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-Calificacion">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCalificacion" aria-expanded="false" aria-controls="flush-collapseCalificacion">
                            Calificaciones
                          </button>
                        </h2>
                        <div id="flush-collapseCalificacion" class="accordion-collapse collapse" aria-labelledby="flush-headingCalificacion" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <div class="d-grid gap-2">
                                  {% if session['rol_logueado'] == 1 %} 
                                  <a class="btn btn-primary" href="{{url_for(session['calificacionespublicadas'])}}" role="button">Consultar Calificaciones</a>
                                  {%endif%}
                                  {% if session['rol_logueado'] == 2 %}
                                  <a class="btn btn-primary" href="/calificaciondocente" role="button">Consultar Actividades</a>
                                  
                                  {%endif%}
                            </div>
                          </div>
                        </div>
                      </div>
                      {%else%}  
                      <!--Menu calificaciones Alumno -->  
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-Calificacion">
                          <a href="/calificacionalumno">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCalificacion" aria-expanded="false" aria-controls="flush-collapseCalificacion" id="unico" >
                             Calificaciones
                          </button></a>
                        </h2>
                      </div>
                      {%endif%}
                      
                      <!-- cerrar sesion-->
                      
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingcerrar">
                            <a href="/logout">
                                <button class="accordion-button collapsed" type="button" >
                                  Cerrar Sesion  <!-- falta hacer el sesion clear-->
                                </button>
                            </a>
                          </h2>
                      </div>

                      
                    </div> <!--cierre de acordeon-->
                </div> <!-- cierre de row-->
                  
                <!-- flashes -->
                <div class="col-10">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <div class="alert alert-danger" role="alert"> 
                          <ul class="flashes">
                            {% for message in messages %}
                              <li>{{ message }}</li>
                            {% endfor %}
                          </ul>
                      </div>
                    {% endif %}
                    {% endwith %} {{error}}
                    
                    <!-- migajas de pan de rutas navegacion-->
                    {% block breadcrumbs %}
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{url_for('home')}}" >Home {{session['nombre_rol']}} </a></li>
                            {% if session['gps']!="Inicio" and session['gps']!="Actividades" %}
                             <li class="breadcrumb-item active" aria-current="page">{{session['gps']}}</li>
                             {%endif%}
                             {% if session['gps']=="Actividades"%}
                              <li class="breadcrumb-item active" aria-current="page"><a href="{{url_for('consultaractividades')}}" >{{session['gps']}}</a></li>
                            
                            {%endif%}
                          </ol>
                        </nav>
                    {% endblock %}
                    {% block areatrabajo %}{% endblock %}
                  </div>
                </div>
                <!-- START THE FEATURETTES -->
                
                
                <hr class="featurette-divider">

                <!-- /END THE FEATURETTES -->

            </div><!-- /.container -->
            <!-- FOOTER -->
            <footer class="container">
              
    
              <p class="float-end"><a href="#inicio">Back to top</a></p>
              <p>&copy; 2017–2021 Company, Inc. &middot; Escuela Colombiana de Ingeniería Julio Garavito. Personería Jurídica 086 de enero 19 de 1973. Renovación de Acreditación Institucional de Alta Calidad. Resolución 002710 del 18 de marzo de 2019 (vigencia de 6 años). Vigilada por Mineducación.</p>
             </footer>
        </main>  
      <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"> </script>   
         
    </body>

</html>
