<!DOCTYPE html>

<html lang="es">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if titulo %}
            <title>{{ titulo }} - Mision TIC</title>
        {% else %}
            <title>Mision TIC</title>
        {% endif %}
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"> </script> 
               
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" >
    
        
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="index">SGN</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="index">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="ingresar">Ingresar</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </header>

        <main>
            
            <!-- Marketing messaging and featurettes
            ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->
            <br />  
            <div class="container-fluid">
                <div class="row">
                  <div class="col">{% block infouser %}{% endblock %}</div>
                  <div class="col-6">
                    <div class="alert alert-success" role="alert">
                      <strong>Usuario {{session['nombre_rol']}}</strong>
                      <p class="mb-0">Bienvenido, <strong>{{session['nombre_logueado']}} {{session['apellido_logueado']}}</strong></p>
                    </div>  
                  </div>
                  <div class="col">
                    <div class="text-center">
                      <img src="{{ url_for('static', filename='img/logo-ecijg.png') }}" alt="Logo ECIJG" class="img-fluid rounded" />
                    </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                      <!-- Items para Administrar Usuarios del Sistema-->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            {% if session['rol_logueado'] == 1 %}Usuarios
                            {% else %} Perfil
                            {%endif%}
                          </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                                  <div class="d-grid gap-2">
                                        {% if session['rol_logueado'] == 1 %} 
                                        <a class="btn btn-primary" href="#" role="button">Consultar</a>
                                        <a class="btn btn-primary" href="/registrodeusurioEstudiante" role="button">Crear</a>{%endif%}
                                        <a class="btn btn-primary" href="#" role="button">Modificar</a>
                                        {% if session['rol_logueado'] == 1 %}<a class="btn btn-primary" href="#" role="button">Eliminar</a>{%endif%}
                                  </div>
                          </div>
                        </div>
                      </div>
                      <!-- Items para Administrar Cursos en el sistema-->
                      {% if session['rol_logueado'] == 1 %} <!-- Solo lo ve el administrador-->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Cursos
                          </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <div class="d-grid gap-2">
                                  <a class="btn btn-primary" href="#" role="button">Consultar</a>
                                  <a class="btn btn-primary" href="#" role="button">Crear</a>
                                  <a class="btn btn-primary" href="#" role="button">Modificar</a>
                                  <a class="btn btn-primary" href="#" role="button">Eliminar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      {%endif%}
                      
                      <!-- Items para Administrar Calificaciones en el sistema-->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            Calificaciones
                          </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <div class="d-grid gap-2">
                                  {% if session['rol_logueado'] == 2 or  session['rol_logueado'] == 3 %}
                                  <a class="btn btn-primary" href="#" role="button">Consultar</a>
                                  {%endif%}
                                  {% if session['rol_logueado'] == 2 %}
                                  <a class="btn btn-primary" href="#" role="button">Crear</a>
                                  <a class="btn btn-primary" href="#" role="button">Modificar</a>
                                  {%endif%}
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Items para Administrar Calificaciones en el sistema-->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            Mensajes
                          </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <div class="d-grid gap-2">
                                  <a class="btn btn-primary" href="#" role="button">Consultar</a>
                                  <a class="btn btn-primary" href="#" role="button">Crear</a>
                                  <a class="btn btn-primary" href="#" role="button">Modificar</a>
                                  <a class="btn btn-primary" href="#" role="button">Eliminar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSeven">
                          <button class="accordion-button collapsed" type="button" >
                            Cerrar Sesion
                          </button>
                        </h2>
                      </div>
                    </div>  
                  </div>
                  <div class="col-10">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <div class="alert alert-danger" role="alert"> 
                          <ul class="flashes">
                            {% for message in messages %}
                              <li>{{ message }}</li>
                            {% endfor %}
                          </ul>
                      </div>
                    {% endif %}
                    {% endwith %} {{error}}

                    {% block areatrabajo %}{% endblock %}
                  </div>
                </div>
                <!-- START THE FEATURETTES -->
                
                
                <hr class="featurette-divider">

                <!-- /END THE FEATURETTES -->

            </div><!-- /.container -->
            <!-- FOOTER -->
            <footer class="container">
                <p class="float-end"><a href="#">Back to top</a></p>
                <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            </footer>
        </main>  
      <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"> </script>   
         
    </body>

</html>
