{% extends 'admin/baseadmin.html' %}

{% block infouser %}
<div class="text-center">
      <img src="{{ url_for('static', filename='img/user.png') }}" alt="Logo ECIJG" class="img-fluid img-thumbnail rounded" />
      <p class="text-center"><strong><a class="nav-link" href="#">Editar</a></strong></p> 
</div>
{% endblock %}


{% block areatrabajo %}
      <h3 class="text-center">Crear Actividades</h3>
      
      <div class="container">
            <div class="row">
              <div class="col-1">
                  <img src="{{ url_for('static', filename='img/file.png') }}" alt="file" class="img-fluid rounded" />
              </div>
            </div>
      </div>
      <hr class="featurette-divider">
      <div class="container-fluid">
        <div class="row featurette">
          <h3 class="text-center">Formulario de Contacto</h3>
          <form action="{{ url_for('creacionactividaddocente') }}" method="post" name="crearActividad" onsubmit="validar_formulario();" >
              
            <div class="mb-3">
                {{ form.nombreActividad.label(class_="form-label")  }} 
                {{ form.nombreActividad(class="form-control")  }}  
            </div>
  
            <div class="mb-3">                  
                {{ form.descripcion.label(class_="form-label")   }} 
                {{ form.descripcion(class="form-control")   }}  
            </div>
  
            <div class="mb-3">                  
              {{ form.tipoActividad.label(class_="form-label")   }} 
              {{ form.tipoActividad(class="form-control")   }}  
            </div>
            <div class="mb-3">                  
            {{ form.asignatura.label(class_="form-label")   }} 
            {{ form.asignatura(class="form-control")   }}  
            </div>
            <div class="mb-3">                  
              {{ form.curso.label(class_="form-label")   }} 
              {{ form.curso(class="form-control")   }}  
              </div>
              <div class="mb-3">                 
                {{ form.fechaEntrega.label(class_="form-label")   }} 
                {{ form.fechaEntrega(class="form-control")   }}  
                </div>
            <br />        
            <div class="mb-3">
                {{ form.enviar(class="btn btn-primary")  }}                        
            </div>
        </form>
        </div>
      </div>
    
{% endblock %}

