{% extends 'admin/baseadmin.html' %} 

{% block infouser %}
<div class="text-center">
      <img src="{{ url_for('static', filename='img/user.png') }}" alt="Logo ECIJG" class="img-fluid img-thumbnail rounded" />
      <!-- <p class="text-center"><strong><a class="nav-link" href="#">Editar</a></strong></p> -->
</div>
{% endblock %}


{% block areatrabajo %}
<h2>Dashboard</h2>
<div class="container-fluid">
    <div class="row featurette">
        <table id="example" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Estudiantes</th>
                    <th>Notas</th>
                    <th>Promedio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gustavo Perez</td>
                    <td>8</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Patricia Mora</td>
                    <td>10</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Maria Jose Salazar</td>
                    <td>7.5</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>Pedro Pineda</td>
                    <td>5</td>
                    <td>5.1</td>
                </tr>
                <tr>
                    <td>Ruben Castañeda</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Ana Brito</td>
                    <td>4.5</td>
                    <td>4.5</td>
                </tr>
                <tr>
                    <td>Alfonzo Peña</td>
                    <td>10</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Marlon Guerreiro</td>
                    <td>9.9</td>
                    <td>9.9</td>
                </tr>
                <tr>
                    <td>Dayana Rondon</td>
                    <td>5.9</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Hermione Granger</td>
                    <td>10</td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
        <table id="example" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Grado</th>
                    <th>Materia</th>
                    <th>Jornada</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pedro Lobaton</td>
                    <td>Ingles</td>
                    <td>Mañana</td>
                </tr>
                <tr>
                    <td>Yesenia Castillo</td>
                    <td>Matematicas</td>
                    <td>Mañana</td>
                </tr>
                <tr>
                    <td>Elizabeth Olsen</td>
                    <td>Diseño</td>
                    <td>Mañana</td>
                </tr>
                <tr>
                    <td>Laura De Diaz</td>
                    <td>Programacion</td>
                    <td>Tarde</td>
                </tr>
                <tr>
                    <td>Carol Danvers</td>
                    <td></td>
                    <td>1</td>
                </tr>
        </table>
    </div>
  </div>

{% endblock %}
