{% extends 'admin/baseadmin.html' %}
<!-- aun no sé como se ve-->
{% block infouser %}
<div class="text-center">
      <img src="{{ url_for('static', filename='img/user.png') }}" alt="Logo ECIJG" class="img-fluid img-thumbnail rounded" />
      <p class="text-center"><strong><a class="nav-link" href="#">Editar</a></strong></p> 
</div>
{% endblock %}

{% block areatrabajo %}
<h3 class="text-center"> Información del Estudiante </h3>
<br/>
<div class="container">
  <div class="row">
    <div class="col-1">
      <img src="{{ url_for('static', filename='img/file.png') }}" alt="file" class="img-fluid rounded" />
    </div>

    <div class="col-2 text-xl-start">
      <h4>Informacion básica</h4>
    </div>

    <div class="col-8 ">
      <h5 align="right" ><strong>Editar</strong></h5>                
      <img align="right" src="{{ url_for('static', filename='img/editar.png') }}" alt="editar" class="img-fluid rounded" href="" alt="" width="30" height="30"/>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="container-fluid">
    <div class="row featurette">
      <h3 class="text-center">Formulario de Contacto</h3>
      <form action="{{ url_for('infoestudiante') }}" method="post" name="formRegistroEstudiante" onsubmit="validar_formulario();" >
          
        <div class="mb-3">
            {{ form.nombre.label(class_="form-label")  }} 
            {{ form.nombre(class="form-control", placeholder="-----")  }}  
        </div>

        <div class="mb-3">                   
            {{ form.cedula.label(class_="form-label")   }} 
            {{ form.cedula(class="form-control", placeholder="-----")   }}  
        </div>

        <div class="mb-3">                   
          {{ form.telefono.label(class_="form-label")   }} 
          {{ form.telefono(class="form-control", placeholder="-----")   }}  
        </div>

        <div class="mb-3">                   
          {{ form.fechaNac.label(class_="form-label")   }} 
          {{ form.fechaNac(class="form-control", placeholder="-----")   }}  
        </div>

        <div class="mb-3">                   
          {{ form.correo.label(class_="form-label")   }} 
          {{ form.correo(class="form-control", placeholder="-----")   }}  
        </div>

        <div class="mb-3">                   
          {{ form.codigo.label(class_="form-label")   }} 
          {{ form.codigo(class="form-control", placeholder="-----")   }}  
        </div>

        <div class="row">
          <div class="col-1">
              <img src="{{ url_for('static', filename='img/file.png') }}" alt="file" class="img-fluid rounded" />
          </div>

          <div class="col-2 text-xl-start">
             <h4>Información Académica</h4>
          </div>

          <div class="col-8 ">
            <h5 align="right" ><strong>Editar</strong></h5>                
            <img align="right" src="{{ url_for('static', filename='img/editar.png') }}" alt="editar" class="img-fluid rounded" href="" alt="" width="30" height="30"/>
          </div>
        </div>
        <br />
        <hr class="featurette-divider">
        <div class="mb-3">                   
          {{ form.facultad.label(class_="form-label")   }} 
          {{ form.facultad(class="form-control", placeholder="-----")   }}  
        </div>
        <div class="mb-3">                   
          {{ form.carrera.label(class_="form-label")   }} 
          {{ form.carrera(class="form-control", placeholder="-----")   }}  
        </div>
    </form>
    </div>
  </div>
  <br />
</div>
      
{% endblock %}

