{% extends 'admin/baseadmin.html' %}
<!-- aun no sé como se ve-->
{% block infouser %}
<div class="text-center">
      <img src="{{ url_for('static', filename='img/user.png') }}" alt="Logo ECIJG" class="img-fluid img-thumbnail rounded" />
      <p class="text-center"><strong><a class="nav-link" href="#">Editar</a></strong></p> 
</div>
{% endblock %}


{% block areatrabajo %}
      <h3 class="text-center">Docente Nombre del Docente</h3>
      
      <div class="container">
            <div class="row">
              <div class="col-1">
                  <img src="{{ url_for('static', filename='img/editar.png') }}" alt="file" class="img-fluid rounded" />
              </div>
              <div class="col-11 text-xl-start">
                 <h4>Informacion básica</h4>
              </div>
            </div>
      </div>
      <hr class="featurette-divider">
      <div class="container">
       
        <form action="{{ url_for('infodocente') }}" method="post" name="formInfoDocente" onsubmit="validar_formulario();" >
          <div class="mb-3">
              {{ form.nombre.label(class_="form-label")  }} 
              {{ form.nombre(class="form-control", id="nombre", placeholder="Lars Johan Yngve Lannerback")  }}  
          </div>

          <div class="mb-3">                    
              {{ form.cedula.label(class_="form-label")   }} 
              {{ form.cedula(class="form-control", id="cedula", placeholder="3005253636")   }}  
          </div>
          <div class="mb-3">                    
            {{ form.correo.label(class_="form-label")   }} 
            {{ form.correo(class="form-control", id="correo", placeholder="docente@gmail.com")   }}  
          </div>
               
      </div>

      <div class="container">
        <div class="row">
          <div class="col-11 text-xl-start">
             <h3 class="text-center">Informacion Académica</h3>
          </div>
        </div>
      </div>
        <div class="container">
          <div class="mb-3">                    
            {{ form.pregrado.label(class_="form-label")   }} 
            {{ form.pregrado(class="form-control", id="pregrado", placeholder="Ingenieria Mecatrónica")   }}  
          </div>
          <div class="mb-3">                    
            {{ form.postgrado.label(class_="form-label")   }} 
            {{ form.postgrado(class="form-control", id="postgrado", placeholder="Maestria en Soldadura de Nanocomponentes")   }}  
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-11 text-xl-start">
               <h3 class="text-center">Asignaturas a Cargo</h3>
            </div>
          </div>
          {{ form.language.label(class_="form-label")   }} 
            {{ form.language(class="form-control", id="Asignaturas")   }}
        </div>
         <br />
         <div class="container">
            <div class="row">
            {{ form.guardar(class="btn btn-primary")  }} 
            </div>                       
        </div><br />
      </form>
{% endblock %}

