{% extends 'admin/baseadmin.html' %}
<!-- aun no sé como se ve-->
{% block infouser %}
<div class="text-center">
      <img src="{{ url_for('static', filename='img/user.png') }}" alt="Logo ECIJG" class="img-fluid img-thumbnail rounded" />
       <!-- <p class="text-center"><strong><a class="nav-link" href="#">Editar</a></strong></p> -->
</div>
{% endblock %}

{% block areatrabajo %}
    <h3 class="text-center">Estudiante Nombre del estudiante</h3>
    <div class="container">
      <div class="row">
        <div class="col-1">
          <img src="{{ url_for('static', filename='img/file.png') }}" alt="file" class="img-fluid rounded" />
        </div>
        <div class="col-11 text-xl-start">
          <h4>Calificaciones</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Calificaciones</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Curso 20225536</li>
              </ol>
          </nav>
      </div>
    </div>
    <!--  listas para corte-->
    <div class="col">
      <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            seleccione corte
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">corte 1</a></li>
            <li><a class="dropdown-item" href="#">corte 2</a></li>
            <li><a class="dropdown-item" href="#">corte 3</a></li>
          </ul>
      </div>
    </div>
    <br />
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingCalifOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCalifOne" aria-expanded="true" aria-controls="collapseCalifOne">Curso 20225536</button>
        </h2>
        <div id="collapseCalifOne" class="accordion-collapse collapse show" aria-labelledby="headingCalifOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Asignatura</th>
                    <th scope="col">asistencia</th>
                    <th scope="col">actividad 1</th>
                    <th scope="col">actividad2</th>
                    <th scope="col">quiz</th>
                    <th scope="col">Parcial</th>
                    <th scope="col">Final</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="col">Calculo I</th>
                    <th scope="col">40/40</th>
                    <th scope="col">5</th>
                    <th scope="col">4.5</th>
                    <th scope="col">3.5</th>
                    <th scope="col">4.5</th>
                    <th scope="col">0.0</th>
                  </tr>
                  <tr>
                    <th scope="col">Quimica I</th>
                    <th scope="col">40/40</th>
                    <th scope="col">5</th>
                    <th scope="col">4.5</th>
                    <th scope="col">3.5</th>
                    <th scope="col">4.5</th>
                    <th scope="col">0.0</th>
                    <a class="btn btn-primary" href="#" role="button">Exportar</a>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
{% endblock %}

